<h1 class = "blog-title"> My blog</h1>
<p class="lead blog-description">An Example blog template build with Bootstrap.</p>
<%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
