<hr>
<div class="row">
  <div class = "col-md-4">
    <%= image_tag "selfie-2018-10-05.jpg", width: 200, alt: "profile image" %>
  </div>
  <div class = "col-md-8">
    <h1>About Me</h1>
    <p>Graduate in Chemical Engineer, been mathematicas and simulation my driven interest, I was deeply inmersed in programation and founded a software company named Integra.
    At tha times around the 1970 internet was just borned, and remember how difficult was to succes with a connection with the different Universities where we try to obtain information.</p>
  </div>
</div>
