<div class= "row">
  <div class = " col-md-6">
    <h3>Office Address</h3>
    <p> First Avenue 6789, Kesington, MC 34567</p>
    <h3> Phone </h3>
    <p> <%= number_to_phone "099999990" %></p>
    <h3> Email </h3>
    <p> <a href = "mailto:wwhite@example.com?subject=PortfolioContact" "email me"> Email me</a></p>
  </div>
    <div id="map" class= "col-md-6">

    </div>
    <script>
    var map = new GMaps({
        el: '#map',
        lat: -2.2058400,
        lng: -79.9079500
      });
    </script>

</div>
