<h1>Pages#contact</h1>

<<<<<<< HEAD
<p>Find me in app/views/pages/contact.html.erb</p>
=======
<p><%= number_to_phone "5555555555"%></p>

<p><%= number_to_currency "150"%></p>

<p><%= number_to_percentage "23480.4"%></p>

<p><%= number_with_delimiter "5555555555"%></p>
>>>>>>> 511aecf838f5a2107699181b8e04ad8e0b3ae14e
